/*=================================================================*/
/*                      SECTIONS                             
/*=================================================================*/
main.content {
  margin-left: 290px;
  @include transition(0.3s);

  &.open {
    opacity: 0.8;
    -webkit-transform: translateX(290px);
    -moz-transform: translateX(290px);
    -ms-transform: translateX(290px);
    -o-transform: translateX(290px);
    transform: translateX(290px);
  }
}

main.content-2 {
  margin-left: 110px;
  @include transition(0.3s);

  &.open {
    opacity: 0.8;
    -webkit-transform: translateX(110px);
    -moz-transform: translateX(110px);
    -ms-transform: translateX(110px);
    -o-transform: translateX(110px);
    transform: translateX(110px);
  }
}

main.content-3 {
}

section {
  padding-top: 110px;
  position: relative;
}

section.home {
  background: linear-gradient(rgba(45, 48, 64, 0.8), rgba(45, 48, 64, 0.8)),
    url(../../public/images/pattern.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .intro {
    margin: auto;
    max-width: 540px;
    text-align: center;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;

    .circle {
      box-shadow: 0 1px 0px white;
      width: 300px;
      height: 300px;
      margin-bottom: 30px;
      border-radius: 50%;

      img {
        width: 97%;
      }
    }

    h1 {
      color: #fff;
      font-size: 36px;
    }

    p {
      color: #fff;
      font-size: 22px;
      margin-bottom: 0px;
    }

    span {
      display: inline-block;

      label {
        margin-bottom: 0;

        &::after {
          content: attr(value);
        }
      }
    }
  }

  .social-icons {
    li {
      a {
        color: #fff;
        font-size: 30px;
        margin-left: 10px;
      }
    }
  }
}

.section-title {
  font-size: 36px;
  margin: 0;
  margin-left: 14px;
  position: relative;

  &:before {
    content: "";
    // background-image: url("/images/dots-bg.svg");
    display: block;
    height: 37px;
    left: -14px;
    top: -14px;
    position: absolute;
    width: 37px;
  }
}

section.about {
  .container {
    .coding {
      i {
        font-size: 50px;
        margin-left: 50px;
        opacity: 0.5;
      }
    }
  }
}

section.services {
  color: white;
  background-color: #2d3040;
  h2 {
    color: white;
  }
}
section.works {
  color: white;
  background-color: #2d3040;
  h2 {
    color: white;
  }
}
section.contact {
  color: white;
  background-color: #2d3040;
  h2 {
    color: white;
  }
}

/*=================================================================*/
/*                      SERVICE                              
/*=================================================================*/
.service-box {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  @include transition(0.3s);

  h3 {
    font-size: 20px;
  }

  img {
    margin-bottom: 22px;
  }

  &:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/*=================================================================*/
/*                      WORKS                              
/*=================================================================*/
.portfolio-wrapper {
  [class*="col-"] {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.pf-filter-wrapper {
  display: none;
}

.portfolio-item {
  position: relative;
  overflow: hidden;

  .thumb {
    overflow: hidden;
  }

  .details {
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;

    h4 {
      color: #fff;
      font-size: 20px;
      margin: 0 0 10px;
      padding: 0 20px;
      opacity: 0;
      transform: translateY(30px);
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
      position: absolute;
      top: 60px;
    }

    span.term {
      color: #fff;
      background: $colorpink;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      font-size: 14px;
      opacity: 0;
      display: inline-block;
      padding: 3px 10px;
      position: absolute;
      top: 0;
      left: 20px;
      transform: translateY(-40px);
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    }

    .more-button {
      color: #fff;
      font-size: 20px;
      display: block;
      background: $coloryellow;
      border-radius: 100%;
      height: 40px;
      line-height: 42px;
      text-align: center;
      position: absolute;
      bottom: 20px;
      left: 20px;
      width: 40px;
      opacity: 0;
      @include transition(0.3s);
    }
  }

  .mask {
    background: $colorblue;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    @include transition(0.3s);
  }

  &:hover {
    .mask {
      opacity: 0.9;
    }

    .details {
      h4,
      span {
        opacity: 1;
        transform: translateY(0);
      }

      .more-button {
        opacity: 1;
      }
    }
  }
}

.portfolio-filter {
  margin-bottom: 25px;

  li {
    button {
      color: #ffffff;
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;
      position: relative;
      @include transition(0.3s);
      height: auto;
      padding: 0;
      border: 0;
      outline: 0;
      background: transparent;

      &:hover,
      &.current {
        color: rgb(74, 195, 255);
      }
    }
  }

  li:not(:last-child) {
    margin-right: 1.8rem;
  }
}

select.portfolio-filter-mobile {
  font-size: 16px;
  border-radius: 10px;
  outline: 0;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}

.pf-filter-wrapper {
  position: relative;

  &:after {
    content: "\f0d7";
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    right: 20px;
    color: #000;
  }
}

/*=================================================================*/
/*                      Projects                             
/*=================================================================*/
.projects-item {
  overflow: hidden;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  @include transition(0.3s);
  background-color: white;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  &:hover {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(-10px);
  }

  .thumb {
    position: relative;
    overflow: hidden;

    img {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      @include transition(0.3s);
    }

    &:hover {
      img {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }

  .details {
    padding: 20px;

    h4 {
      color: #252734;
    }
    .buttons {
      button {
        padding: 5px;
        border-radius: 15px;
        width: 80px;
        border: none;
        outline: none;
        border: 1px solid rgb(138, 136, 136);
        background: transparent;
        transition: all 1s ease-in-out;
        font-size: 14px;
        &:hover {
          background-color: #2d3040;
          color: white;
        }
      }
      .second {
        margin-left: 10px;
      }
    }
  }

  .meta {
    font-size: 14px;
    color: #8b88b1;

    li:not(:last-child) {
      margin-right: 0.6rem;
    }

    li {
      &:after {
        content: "";
        background: #8b88b1;
        border-radius: 50%;
        display: inline-block;
        height: 3px;
        margin-left: 0.6rem;
        vertical-align: middle;
        width: 3px;
      }

      &:last-child::after {
        display: none;
      }
    }
  }
}

/*=================================================================*/
/*                      CONTACT                              
/*=================================================================*/

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
}

/*=================================================================*/
/*                      HELPER                              
/*=================================================================*/
.help-block.with-errors {
  color: red;
  font-size: 12px;
  padding-left: 30px;

  ul {
    margin-bottom: 0;
  }
}

.spacer {
  clear: both;

  &[data-height="60"] {
    height: 60px;
  }

  &[data-height="70"] {
    height: 70px;
  }

  &[data-height="30"] {
    height: 30px;
  }

  &[data-height="96"] {
    height: 96px;
  }

  &[data-height="20"] {
    height: 20px;
  }
}

.text-link {
  font-family: $fonthead;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

#infscr-loading {
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: 10px;
}

#infscr-loading img {
  display: none;
}

.fa-spinner {
  margin-right: 10px;
  display: none;
}

.scroll-down {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  z-index: 1;

  button {
    background: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
  }

  &.light {
    span {
      color: $colordefault;
    }

    .mouse {
      border-color: $colordark;

      .wheel {
        background: $colordark;
      }
    }
  }
}

@-webkit-keyframes ani-mouse {
  0% {
    top: 29%;
  }

  15% {
    top: 50%;
  }

  50% {
    top: 50%;
  }

  100% {
    top: 29%;
  }
}

@-moz-keyframes ani-mouse {
  0% {
    top: 29%;
  }

  15% {
    top: 50%;
  }

  50% {
    top: 50%;
  }

  100% {
    top: 29%;
  }
}

@keyframes ani-mouse {
  0% {
    top: 29%;
  }

  15% {
    top: 50%;
  }

  50% {
    top: 50%;
  }

  100% {
    top: 29%;
  }
}

.mouse-wrapper {
  color: #fff;
  font-size: 14px;
  display: block;
  max-width: 100px;
  margin: auto;
  text-align: center;
  cursor: pointer;

  span {
    color: #ffffff;
  }

  &:hover {
    color: #fff;
  }
}

.mouse {
  border: solid 2px #fff;
  border-radius: 16px;
  display: block;
  margin: auto;
  margin-top: 10px;
  height: 26px;
  position: relative;
  width: 20px;

  .wheel {
    background: #fff;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 4px;
    -webkit-animation: ani-mouse 2s linear infinite;
    -moz-animation: ani-mouse 2s linear infinite;
    animation: ani-mouse 2s linear infinite;
  }
}
